h1{
    margin-left: 170px;
    max-width: 100%;
    font-size:  100px;
    background-color: rgba(250, 191, 191, 0.048);
   font-stretch: expanded;
}

body{
    background-color: rgba(117, 77, 140, 0.212);
    background-image:url(https://images.pexels.com/photos/1105666/pexels-photo-1105666.jpeg?auto=compress&cs=tinysrgb&w=400) ;
    background-repeat:no-repeat;
    background-size:contain;
    width:1300px;
    height:2100px;
   
}

h3{
    margin-left: 170px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.webseries{
    font-size: 100px;
    margin-top: 800px;
    margin-left: 180px;
    font-style:oblique;
}
.vampire{
    font-size: 50px;
    font-style: italic;
}

.vampimg{
   width: 250px;
   image-resolution:inherit;
}

.strangerthings{
    font-size: 50px;
    font-style: italic;
}
.stranger{
    width: 1000px;
    image-resolution:inherit;
 }

 .money{
    font-size: 50px;
    font-style: italic;
}

.heist{
    width: 500px;
    image-resolution:inherit;
}

.wednesday{
    font-size:50px;
    font-style: italic;
}

.wed{
    width: 500px;
    image-resolution:inherit;
}

.friends{
    font-size:50px;
    font-style: italic;
}

.fri{
  
        width: 500px;
        image-resolution:inherit;  
}

h4{
   
    margin-left: 1500px;
    margin-top:-800px;
}