body{
    background-color:rgb(255, 222, 196);

}
h1{
    font-size: 70px;
    font-weight: 1000;
    font-style: italic;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.role{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-display:inherit ;
    font-size: 40px;
    font-style: italic;
    font-weight: lighter;
}

.desrole{
    font-size: medium;
    font-weight: 200;
}

.stefelena{
    font-size: 30px ;
}

.relationship{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.kathstefrelationship{
    width: 350px;
}

.moral{
    width:250px;
height:300px;
}
